/*
*   GLOBALI
*/

*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root
{
    /*CAMBIARE COLORE LINK NON VISITATI NEL MENU (ALTRIMENTI NO DIFFERENZA 
    TRA ATTUALE E NON VISITATO
    */
    /*
    *   DEFAULT COLORS
    */
    --bgcolor: #080808;
    --textbgcolor: #EFAE50;
    --textcolor: #000;
    --acolor: #5F9950;
    --avisitedcolor: #B06F0C;
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --accent: #EFAE50;
    --danger-button-color: red;
    /*
    *   HEADER ZONE
    */
    --ribboncolor: #d88913;
    --ribbontextcolor: #000;
    --titlecolor: #FFF;
    --ahelpbgcolor: #080808;
    /*
    *   NAV ZONE
    */
    --menubgcolor: #5c2b13;
    --menulinkcolor: #FFF;
    --menuvisitedlinkcolor: #d88913;
    --currentpagelinkcolor: #FFF;
    /*
    * BREADCRUMB
    */
    --breadcrumbbgcolor: #5c2b13;
    --breadcrumbtxtcolor: #FFF;
    /*
    * MAIN PAGE WEBSITE PRESENTATION SECTION
    */
    --rolelisttitlebgcolor: #FFF;
    --rolelisttitlecolor: #000;
    --rolelisttextbgcolor: #080808;
    --rolelisttextcolor: #FFF;
    --shadowcolor: #d88913;
    /*
    *   MAIN PAGE TEAM PRESENTATION SECTION
    */
    --presentationdivbgcolor: #5c2b13;
    /*
    *   FOOTER
    */
    --footerbgcolor: #d88913;
}

body
{
    background-color: var(--bg-primary);
}

p
{
    background-color: var(--textbgcolor);
    color: var(--textcolor);
    line-height: 1.5em;
}

a
{
    color: var(--textbgcolor);
}

a:visited
{
    color: var(--avisitedcolor);
}

.hide {
    position: absolute;
    text-indent: -999em;
}

/*
*   HEADER
*/

header
{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/header-bg.jpg");
    background-color: var(--bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2%;
}

header h1, header h2
{
    color: var(--titlecolor);
    align-self: center;
}

h1#header-title
{
    font-size: 5em;
}

h2#header-subtitle
{
    font-style: italic;
    font-weight: lighter;
}

/*
*   ZONA SICURA HOME PAGE
*/


p#safe-zone-content
{
    width: 100vw;
    padding: 1em;
    position: absolute;
    top: 90%;
    text-align: center;
}

/*
*   LINK AIUTO ACCESSIBILITA'
*/
nav#list-help ul
{
    list-style-type: none;
}

nav#list-help a
{
    position: absolute;
    text-indent: -999em;
}

nav#list-help a:focus
{
    position: absolute;
    text-indent: 0;
    z-index: 1;
    background-color: var(--ahelpbgcolor);
}

/*
*   MENU' DI NAVIGAZIONE
*/

nav#menu
{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: var(--menubgcolor);
    border-radius: 40px;
    margin-top: 2%;
}

nav#menu ul
{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 3em;
}

nav#menu li
{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 10em;
    border-radius: 5px;
}

img#profile-picture
{
    vertical-align: text-bottom;
    padding-left: 3%;
    width: 1em;
}

nav#menu a:link
{
    text-decoration: none;
    color: var(--menulinkcolor);
}

nav#menu a:visited
{
    color: var(--menuvisitedlinkcolor);
}

nav#breadcrumb
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#breadcrumb p
{
    display: inline;
    background-color: var(--breadcrumbbgcolor);
    color: var(--breadcrumbtxtcolor);
    border-radius: 100px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
}
/*
*  INFO RICETTA TEMPLATE
*/
main{
    text-align: center;
    color: var(--textbgcolor);
    line-height: 1.5em;
    padding-bottom: 2%;
    padding-top: 2%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-primary);
}

h2{
    margin: 2rem 4rem 2rem 4rem;
}

img
{
    text-indent: -999em; 
}

p, p#MaxVoto, li, article{
    color: white;
}

.Sezione,.Sottotitolo, article, fieldset, textarea.voto, p{
    background-color: var(--bg-secondary) 
}

div#ImgInfoRicetta
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
}

ul#InfoRicetta
{
    margin: 2rem 0 2rem 2rem;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
}


ul#InfoRicetta
{
    margin-left: 8rem;
}

ul#InfoRicetta li
{
    padding: 0.7em 0;
}

ul#InfoRicetta li img
{
    vertical-align: text-bottom;
    padding-right: 1.5em;
}

.Sezione{
    margin-top: 0;
}

.Sottotitolo
{
    margin-top: 2rem;
    margin-bottom: 0;
}

.Sezione,.Sottotitolo
{
    padding: 1% 10% 1% 10%;
    margin-left: 4rem;
    margin-right: 4rem;
}

button,input{
    font-weight: 700;
    font-size: 1.1rem;
}

button#Stella
{
    content: "Aggiungi ai preferiti";
    cursor: pointer;
    border-radius: 0.5em;
    appearance: none;
    margin: 4rem 4rem 4rem 4rem;
    align-content: center;
    background-color: var(--textbgcolor);
    background-size: 2em;
    width: 25%;
    height: 5vh;
}

button#Stella::after
{
    content: "Aggiunto ai preferiti \2713";
}

ul#IngredientiRicetta
{
    list-style-type: disc;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    list-style-position: inside;
    justify-content: space-between;
}

ul#IngredientiRicetta li
{
    flex: 1 1 33%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

ol#PreparazioneRicetta
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

ol#PreparazioneRicetta li{
    margin-top: 1em;
    margin-bottom: 1em;
}

h3#Commento
{
    background-color: var(--bg-primary);
}

section#CommentoUtente 
{
    display: flex;
    flex-direction: row;
    padding: 1rem 0 1rem 0;
    margin: 0 4rem 2rem 4rem;
}  

form
{
    width: 100%;
}

img#ImgUtente{
    max-width: 10%;
    max-height: 10%;
}

img#ImgUtente, img.InfoUtente
{
    border-radius: 50%;
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 2%;
    background-color: var(--bg-primary);
}

fieldset
{
    border: 2px solid var(--accent);
    min-width: 65%;
    margin-bottom: 2%;
}

.voto{
    display: inline;
    margin: 1.5%;
    float: left;
}

section#CommentoUtente label
{
    display: block;
    padding: 1em;
    text-align: left;
    clear: both;
    color: white;
}

textarea#Commento-utente{
    resize: none;
    width: 97%;
    height: 10vh;
    background-color: white;
    color: black;
    margin-bottom: 2%;
}

button.SceltaUtente{
    border-radius: 0.5em;
    display: inline;
    cursor: pointer;
    float:right;
    width: 12em;
    height: 3em;
    margin: 0.5em 0.5em 1em 0;
}

button#Cancella{
    background-color: var(--bg-primary); 
    color: var(--textbgcolor);
    color: white;
}

button#Commenta{   
    background-color: var(--textbgcolor);
}

h4{
    clear: both;
    text-align: center;
}

article#TuoCommento{
    margin:  2em 4em 2em 4em;
    clear: both;
    padding: 1em;
    border: 2px solid var(--accent);
    text-align: start;
}

article#TuoCommento p#ValutazioneUtente{
    text-align: center;
}

article#TuoCommento button{
    width: 100%;
    height: 3em;
    background-color: var(--danger-button-color);
    margin: 2em 0 1em 0;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
}


section#CommentiAltriUtenti{
    margin: 2rem 4rem 2rem 4rem;
    clear: both;
}

li.CommentoUtenti{
    margin-bottom: 3rem;
    list-style-type: none;
    justify-content: start;
    text-align: start;
    line-height: 1.5em;
}

li article{
    padding: 1rem;
}

.InfoUtente{
    display: inline;
    vertical-align: baseline;
    margin-bottom: 1.5rem;
}

.InfoUtente a
{
    color: var(--textbgcolor);
}

img.InfoUtente{ 
    max-height: 5%;
    max-width: 55px;
}

p#DataCommento
{
    float: inline-end;
}

p#VotoUtente{
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1.5em;
}


button#Carica
{
    background-color: var(--textbgcolor);
    border-radius: 0.5em;
    cursor: pointer;
    margin: 2rem 4rem 2rem 4rem;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 5vh;
}

/*
==================================================
FOOTER
==================================================
*/

footer {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    display: inline;
    font-style: italic;
    font-weight: 300;
    margin: 0 2em 0 2em;
}

footer img {
    vertical-align: middle;
}

footer a {
    display: block;
}
  
/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    width: 3em;
    background-color: white;
}
