* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    /* DEFAULT */
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --bg-trinary: #454545;
    --accent:#EFAE50;
    --accent-secondary:#392A24;
    --accent-trinary:#0C6F59;
    --text-color:white;
    --a-color: #5F9950;
    --a-visited-color: #C76F0A;
    /* SPECIAL CASES */
    --header-content-text-color: black;
    --header-content-a-bg-color: #d6cccc;
    --menu-a-color: white;
    --menu-login-a-color: #4E0000;
    --dt-bg-color: white;
    --shadowcolor: #d88913;
    --accent-a-color: #000A5F;
    --accent-a-visited-color: #4E0000;
    --safe-zone-a-bg-color: #E1BA84;
}

@font-face {
    font-family: "Inter";
    font-size: 100%;
    src: url("../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 300 900;
    font-stretch: 35% 100%;
    font-style: normal;
    font-display: swap;
}
html body {
    height: 100%;
}

body {
    background-color: var(--bg-primary);
    line-height: 1.5;
}

a {
    color: var(--accent);
}

a:visited {
    color: var(--accent-trinary);
}

p{
    color: var(--text-color);
}

.content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem 0 1rem;
}

.content-container {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 2rem;
}
/*
==================================================
NAVIGATION HELP
==================================================
*/

nav#list-help
{
    position: absolute;
    top: 0;
    left: 0;
}

nav#list-help ul
{
    display: block;
    list-style-type: none;
    width: 100vw;
}

nav#list-help li
{
    display: inline-block;
}

nav#list-help a
{
    position: absolute;
    text-indent: -999rem;
}

nav#list-help a:focus
{
    position: absolute;
    text-indent: 0rem;
    background-color: var(--bg-primary);
}

/*
==================================================
HEADER
==================================================
*/


#header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
}

header .bg {
    background-image: url("../assets/img/1.jpg");
    background-color: var(--bgcolor);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px) brightness(50%);
    -webkit-filter: blur(3px) brightness(50%);
    height: 100%;
}


header {
    background-image: url("../assets/img/1.jpg");
    background-color: var(--bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 1.5rem;
}

header h1, header h2 {
    color: var(--text-color);
    text-align: center;
    line-height: normal;
}

h1#header-title {
    font-weight: 900;
    font-size: 6rem;
}

h2#header-subtitle {
    font-style: italic;
    font-weight: 600;
    font-size:1.8rem;
}

/*
=============================
MENU
=============================
*/

nav#menu {
    top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

nav#menu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}


nav#menu ul{
    background-color: var(--accent-secondary);
    border-radius: 100px;
    padding: .6rem 2rem .6rem 2rem;
}

nav#menu li {
    display: inline;
    font-weight: 700;
    font-size: 1.1rem;
}


nav#menu li:not(:first-child):not(:last-child){
    border-radius: 100px;
    margin: 0 1rem 0 1rem;
    padding: .2rem 1.3rem .2rem 1.3rem;
}
nav#menu li#website-name-in-nav{
    color: white;
    padding-right: 3rem;
    margin-right: 2rem;
    border-right: 3px solid var(--accent);
}
nav#menu li#profile-item{
    margin-left: auto;
}
nav#menu li#current-page {
    background-color: var(--accent);
    color: var(--accent-secondary);
}

nav#menu a:link {
    color: var(--menu-a-color);
}

nav#menu a:visited {
    color: var(--accent);
}


nav#menu li#profile-item {
    background-color: var(--accent-trinary);
    border-radius: 10px;
    padding: .5rem 1.3rem .5rem 1.3rem;
}

nav#menu li#profile-item a {
    color: white;
}

nav#menu li#profile-item img {
    vertical-align: middle;
    height: 1.5rem;
    margin-left: 0.5rem;
}

/*
=============================
HOME PAGE SAFE ZONE
=============================
*/

nav#quick-role{
    margin-bottom: 2rem;
}

nav#quick-role ul {
    text-align: center;
    background-color: var(--bg-secondary);
    padding: 1.1rem 0 1.1rem 0;
}
nav#quick-role li {
    text-align: center;
    display: inline;
    margin: 0 2rem 0 2rem;
    font-weight: 600;
    font-size: 1.1rem;
    font-style: italic;
}

nav#quick-role a:link {
    color: var(--accent)
}

nav#quick-role a:visited {
    color: var(--accent-trinary)
}

/*
==================================================
BREADCRUMB
==================================================
*/

nav#breadcrumb {
    bottom: 1.5rem;
}

nav#breadcrumb p {
    font-size: 1.15rem;
    width: fit-content;
    font-style: italic;
    background-color: var(--accent-secondary);
    color: var(--text-color);
    border-radius: 100px;
    padding: .2rem 1rem .2rem 1rem;
}

/*
==================================================
MAIN
==================================================
*/

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--accent);
}

abbr {
    text-decoration: none;
}

#presentation-text {
    margin-bottom: 5rem;
}

/*
==================================================
ROLES
==================================================
*/

dl.roles {
    margin-bottom: 4rem;
}

dl.roles dt {
    text-align: center;
    color: var(--accent);
    font-weight: 800;
    font-size: 3rem;
    padding: 4rem;

    background-color: var(--dt-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin-bottom: 1.5rem;

    border-top: 5px solid var(--accent-secondary);
    border-bottom: 5px solid var(--accent-secondary);
}

dl.roles dt div {
    margin: auto;
    width: fit-content;
    background-image: url(../assets/img/brush.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 5rem 1rem 5rem;

}

dl.roles dt#fuorisede {
    background-image: url("../assets/img/fuorisede-image.jpg");
}

dl.roles dt#pendolare {
    background-image: url("../assets/img/pendolare-image.jpg");
}

dl.roles dt#sede {
    background-image: url("../assets/img/sede-image.jpg");
}

dl.roles dt#dad {
    background-image: url("../assets/img/dad-image.jpg");
}

dl.roles dd {
    text-align: center;
    background-color: var(--bg-secondary);
    padding: 2rem;
}

dl.roles dd:not(:last-child) {
    margin-bottom: 10rem;
}

.flip-card {
    max-width: 800px;
    margin: auto;
    perspective: 1100px;
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 1.1s cubic-bezier(.04,.43,.41,1.27);
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


input:checked ~ .flip-card .flip-card-inner {
    transform: rotateY(180deg);
}

input:checked ~ .flip-card .flip-card-back {
    visibility: visible;
}
input:checked ~ .flip-card .flip-card-front p{
    visibility: hidden;
}


.flip-card-back, .flip-card-front {
    border-radius: 20px;
}

.flip-card-front {
    position: relative;
    padding: 3rem;
    background-color: var(--accent);
    color: var(--bg-primary);
}

.flip-card-back {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--accent-trinary);
    color: white;
    transition: visibility 1s;
    transform: rotateY(180deg);
}

.flip-card-back h3 {
    font-weight: 700;
    font-size: 700;
}

.flip-card-back ul {
    margin: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    list-style-type: none;
}

.flip-card-back li {
    margin: 1rem;
    font-style: italic;
}
  

dl p {
    color: var(--bg-primary);
    text-align: center;
    font-weight: 500;
    transition: visibility 1s;
}

dd input{
    padding: 0;
    margin: 0;
    appearance: none;
    outline: none;
    pointer-events: none;
}

dd #role-info-label {
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 2rem;
    text-decoration: underline;
    display: inline-block;
}

#role-desc a{
    display: block;
    margin-top: 1rem;
}


/*
==================================================
WHY
==================================================
*/

div#why{
    background-color: var(--accent-secondary);
    margin-bottom: 4rem;
}

div#why > div {
    display: flex;
    gap: 2rem;
}

div#why #why-desc {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 1rem;
}

div#why #why-desc p {
    margin: auto;
}

div#why img {
    width:60%;
    height: 40%;
    border-radius: 10px;
}

/*
==================================================
FOOTER
==================================================
*/

footer {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
    margin: 1em 0 1em 0;
}

footer a {
    color: var(--accent);
    font-size: 1.1em;
}



