* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --accent:#EFAE50;
    --accent-semi-transaparent:#efad50b5;
    --accent-secondary:#392A24;
    --text-color:white;

    --border-radius: 6px;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 300 900;
    font-stretch: 35% 100%;
    font-style: normal;
    font-display: swap;
}


#list-help a
{
    position: absolute;
    text-indent: -999em;
}

#list-help a:focus
{
    position: absolute;
    text-indent: 0;
    z-index: 1;
    background-color: var(--ahelpbgcolor);
}


html {
    background-color: var(--bg-primary);
    color: var(--text-color);
}

/* header {
    background-image: url("../assets/img/1.jpg");
    background-color: var(--bgcolor);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10vh;
    margin-bottom: 2%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
} */


header {
    margin-bottom: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
    position: relative;
    height: 40vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden
}

header .bg {
    background-image: url("../assets/img/1.jpg");
    background-color: var(--bgcolor);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px) brightness(50%);
    -webkit-filter: blur(3px) brightness(50%);
    height: 100%; 
}

header .content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

header .content h1 {
    font-size: 7em;
    margin-left: .5em;
    font-weight: 900;
}
header .content h2 {
    font-size: 2.5em;
    margin-left: 2em;
    font-weight: 800;
}

#content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em 0 1em;
    text-align: center;
}

#menu {
    background-color: var(--accent-semi-transaparent);
    text-align: center;
    padding: 1.5em;
    filter: blur();
}

#menu li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    background-color: var(--accent-secondary);
    padding: 1em 0 1em 0;
    width: 180px;
    border-radius: var(--border-radius);
    font-weight: 800;
}

#menu li#account-btn img {
    vertical-align: middle;
    width: 1.5em;
}

#menu li#account-btn a {
    margin-right: 1em;
}

#menu a {
    color: var(--accent);
}


#menu a:visited::after {
    content: "@";
}

nav#breadcrumb
{
    margin-bottom: 100px;
}

nav#breadcrumb p
{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    background-color: var(--accent-secondary);
    color: var(--text-color);
    border-radius: 100px;
    padding: .2em 1em .2em 1em;
}

#sign-box {
    margin-bottom: 100px;
}


#sign-box fieldset {
    /* padding: 2em; */
    /* border: 1px solid var(--accent); */
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary);
    padding: 0 5em 0 5em;
}

#student-name,#student-types,#student-mail,#student-psw{
    display: block;
    width: 80%;
    height: 40px;
    text-indent: 1em;
    font-size: 1em;
    background-color: rgb(235, 235, 235);
    border-radius: 100px;
    border-style: none; 
    border-color: Transparent; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.form-label {
    display: block;
    padding: 1em;
    margin-bottom: 20px;
    color: var(--accent);
    font-weight: 500;
    font-size: 1.2em;
}

.form-label:first-child {
    float: left;
}

.form-label:nth-child(2) {
    float: right;
}

.form-label:not(:nth-child(2)) {
    clear: both;
}

#name-in {
    width: 70%;
}

#type-in {
    width: 30%;
}



#sign-box h2 {
    font-size: 2.5em;
    font-weight: 750;
    color: var(--accent);
    margin: 80px;
}

#sign-box #buttons {
    height: 80px;
    text-align: end;
    padding: .8em 0 .8em 0;
}

#sign-box #buttons button {
    width: 180px;
    height: 100%;
    border-style: none;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: var(--border-radius);
    margin-left: 1em;
}

#sign-box #buttons #cancel {
    background-color: var(--accent-secondary);
    color: var(--text-color);
}

#sign-box #buttons #confirm {
    background-color: var(--accent);
    color: var(--bg-primary);
}


footer{
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    display: inline;
    font-style: italic;
    font-weight: 300;
    margin: 0 2em 0 2em;
}

footer img {
    vertical-align: middle;
}

footer a {
    display: block;
    color: var(--accent);
}

/*-------------------- SIGNUP ----------------------------*/










/*-------------------- SIGNIN ----------------------------*/