/*
==================================================
RICETTA
==================================================
*/

div#ImgInfoRicetta{
    flex-direction: column;
}

div#ImgInfoRicetta ul{
margin: 2em 1em 2em 1em;
}

button#Stella{
    width:40%;
}

ul#IngredientiRicetta{
    flex-direction: column;
}

.voto{
    float:none;
}

textarea#Commento-utente{
    width: 90%;
}

button.SceltaUtente{
    width: 8em;
    height: 3em;
}

p#VotoUtente{
    margin-top: 0;
    text-align: center;
}

button#Carica{
    width:40%;
}
