/*
==================================================
RICETTA
==================================================
*/

div#ImgInfoRicetta{
    flex-direction: column;
}

div#ImgInfoRicetta ul{
margin: 2em 1em 2em 1em;
}

button#Stella{
    width: 50%;
    margin-top: 1rem;
}

ul#IngredientiRicetta{
    flex-direction: column;
}

.voto{
    float:none;
}

textarea#Commento-utente{
    width: 90%;
}

button.SceltaUtente{
    width: 6em;
    height: 3em;
}

button#Commenta{
    margin-right: 0;
}

p#VotoUtente{
    margin-top: 2em;
    text-align: center;
}

li.CommentoUtenti{
    margin-bottom: 1em;
}

button#Carica{
    width:50%;
    margin-top: 1em;
}
