main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* NOTE: not so well at the pages that are not the home */
    margin-top: -20vh;
}

div#safe-zone-content {
    position: relative;
    top: -20vh;
    margin: 0;
}