* {
    padding: 0;
    margin: 0;
}

:root {
    /* DEFAULT */
    --a-color: #5F9950;
    --a-visited-color: #C76F0A;
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --accent:#EFAE50;
    --accent-secondary:#392A24;
    --text-color:white;
    /* SPECIAL CASES */
    --header-content-text-color: black;
    --header-content-a-bg-color: #d6cccc;
    --menu-a-color: white;
    --menu-login-a-color: #4E0000;
    --dt-bg-color: white;
    --shadowcolor: #d88913;
    --accent-a-color: #000A5F;
    --accent-a-visited-color: #4E0000;
}

@font-face {
    font-family: "Inter", sans-serif;
    font-size: 100%;
    src: url("../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 300 900;
    font-stretch: 35% 100%;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--bg-primary);
    line-height: 1.5;
}

a {
    color: var(--a-color);
}

a:visited {
    color: var(--a-visited-color);
}

.hide {
    position: absolute;
    text-indent: -999em;
}

/*
==================================================
NAVIGATION HELP
==================================================
*/

nav#list-help li
{
    display: inline-block;
}

nav#list-help a
{
    position: absolute;
    text-indent: -999em;
}

nav#list-help a:focus
{
    position: absolute;
    text-indent: 0em;
    background-color: var(--bg-primary);
}

/*
==================================================
HEADER
==================================================
*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/header-bg.jpg");
    background-color: var(--bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    height: 40vh;
}

header#home-header {
    height: 100vh;
}

header h1, header h2 {
    color: var(--text-color);
    align-self: center;
}

h1#header-title {
    font-size: 5em;
}

h2#header-subtitle {
    font-style: italic;
    font-weight: lighter;
}

/*
=============================
MENU
=============================
*/

nav#menu {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--accent-secondary);
    border-radius: 40px;
    margin-top: 2%;
}

nav#menu ul {
    display: flex;
    gap: 2em;
    padding: 1% 3.3em;
    list-style-type: none;
    align-items: center;
}

nav#menu li {
    display: flex;
    justify-content: center;
    border-radius: 5px;

    padding: 0 1em;
    width: 3.9em;
    padding: 0.5em 0.8em;
    font-weight: bolder;
}

img#profile-picture {
    vertical-align: text-bottom;
    padding-left: 3%;
    width: 1em;
}

nav#menu a:link {
    color: var(--menu-a-color);
}

nav#menu a:visited {
    color: var(--accent);
}

nav#menu li#current-page {
    background-color: var(--accent);
    color: var(--bg-primary);
    border-radius: 10px;
}

nav#menu li#website-name-in-nav {
    margin-right: 3em;
    color: var(--text-color)
}

nav#menu li#profile-item {
    margin-left: 3em;
    background-color: var(--accent);
}

nav#menu li#profile-item a {
    color: var(--bg-primary);
}

nav#menu li#profile-item img {
    padding-left: 0.3em;
}

/*
=============================
HOME PAGE SAFE ZONE CONTENT
=============================
*/

div#safe-zone-content
{
    background-color: var(--accent);
    width: 100%;
    padding: 1em 0;
    position: absolute;
    top: 70vh;
    text-align: center;
    padding: 1.5% 0em;
}

div#safe-zone-content p
{
    background-color: var(--accent);
    color: var(--header-content-text-color)
}

div#safe-zone-content li
{
    display: inline-block;
}

/*
==================================================
BREADCRUMB
==================================================
*/

nav#breadcrumb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#breadcrumb p {
    display: inline;
    background-color: var(--accent-secondary);
    color: var(--text-color);
    border-radius: 100px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
}

/*
==================================================
CONTENT
==================================================
*/

main {
    padding: 0 2vw;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--accent);
}

p {
    background-color: var(--bg-secondary);
    color: var(--text-color);
    line-height: 1.5em;
}

.content-p {
    padding: 0.7em 1em;
}

abbr {
    text-decoration: none;
}

fieldset {
    border: 0;
}

/*
================================
CATALOGUE PAGE
================================
*/

.search-el {
    background-color: var(--bg-primary);
    color: var(--text-color);
    border: 4px solid var(--accent);
    border-radius: 999px;
    padding: 0.5em 0.9em;
}

#search-bar {
    margin: 1.5% 0;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    /* background: url("../assets/img/def-profile.png") no-repeat;
    background-size: contain;
    background-position: right 0.9em center; */
}

#search-bar::-webkit-search-cancel-button {
    display: none;
}

#filter {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

#filter label {
    color: var(--accent);
    padding: 0.5em 0;
}

#filter .filter-param {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter .filter-input {
    width: 11em;
}

#filter .filter-input option {
    background-color: var(--bg-primary);
}

#filter input[type="range"].filter-input {
    margin: auto;
}

#search-btn {
    display: block;
    margin: 1.5em auto 0;
    width: 30%;
    padding: 0.4em;
    font-size: 1.2em;
    background-color: var(--accent);
    border: none;
    border-radius: 999px;
}

ul#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3em 0;
    list-style-type: none;
}

ul#recipe-list > li {
    margin-bottom: 4em;
    margin-left: 3em;
    margin-right: 3em;
}

/* NOTE: it may be better with float: left */
ul#recipe-list .recipe {
    width: 25em;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--accent);
}

ul#recipe-list .recipe .recipe-img-crop {
    width: 100%;
    height: 10em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul#recipe-list .recipe .recipe-img-crop img {
    width: 100%;
}

ul#recipe-list .recipe h3 {
    font-size: 1.6em;
    padding: 0.6em 0;
}

ul#recipe-list .recipe ul.recipe-info {
    list-style-type: none;
    padding: 0.5em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul#recipe-list .recipe ul.recipe-info li {
    width: 10em;
    padding: 0.4em 0;
}

ul#recipe-list .recipe ul.recipe-info img {
    height: 2em;
    vertical-align: middle;
    padding-right: 1em;
}

ul#recipe-list .recipe a {
    display: block;
    text-align: right;
    padding-top: 0.3em;
    padding-right: 1em;
    font-weight: bold;
    
}

/*
================================
USER PAGE
================================
*/

#title-nick {
    text-align: center;
    font-size: 2.5em;
    padding-top: 1em;
}

#title-nick span {
    font-size: 65%;
}

#profile-img {
    display: block;
    margin: 1.5em auto;
    width: 8em;
    border-radius: 50%;
    border: 4px solid black;
}

#stud-cat, #login-date {
    background-color: unset;
    text-align: center;
    padding: 0.3em 0;
}

#stud-cat {
    font-size: 1.2em;
}

#login-date {
    color: var(--accent);
}

.user-p-title {
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

#fav-recipe-list {
    background-color: rgb(66, 38, 22);
    list-style-type: none;
    padding: 0 6vw;
    /* NOTE: create a class for the border */
    border: 4px solid rgb(34, 19, 9);
    border-radius: 5px;
    min-height: 12em;
    /* NOTE: not so buty but at least the section for the empty list is centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#empty-fav-recipe-list {
    background-color: unset;
    text-align: center;
}

#fav-recipe-list > li {
    background-color: var(--bg-secondary);
    height: 10em;
    display: flex;
    margin: 2em;
    padding: 5px;
    border-radius: 5px;
}

#fav-recipe-list .fav-recipe-img-crop {
    height: 100%;
    width: 20em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fav-recipe-list .fav-recipe-img-crop img {
    width: 100%;
}

#fav-recipe-list .fav-recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 1.5em;
}

#fav-recipe-list .fav-recipe h4 {
    font-size: 1.5em;
}

#fav-recipe-list .fav-recipe-info {
    text-align: center;
    color: var(--text-color);
}

#fav-recipe-list .fav-recipe-info ul li {
    display: inline;
    padding: 0 3%;
}

#fav-recipe-list .fav-recipe-info li img {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

#fav-recipe-list .fav-recipe a {
    display: block;
    text-align: right;
    padding-right: 1em;
}

.danger-btn {
    display: block;
    width: 100%;
    height: 3em;
    background-color: red;
    color: var(--p-color);
    font-weight: bold;
    margin-bottom: 1vh;
    /* NOTE: create a class for the border */
    border: 4px solid rgb(177, 0, 0);
    border-radius: 5px;
}

/*
==================================================
FOOTER
==================================================
*/

footer {
    /*color: white; FALSE POSITIVE*/
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    display: inline;
    font-style: italic;
    font-weight: 300;
    margin: 0 2em 0 2em;
}

footer img {
    vertical-align: middle;
}

footer a {
    display: block;
}
