:root {
    --accent-transparent: #d58a20dc;
}

/*
================================
MENU
================================
*/

nav#menu {
    display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

#menu-2 {
  transition: translate var(--animation-timing);
  translate: 0 -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  min-height: 100vh;
  width: 100vw;
}

.hamburger-menu:has(input:checked) + #menu-2 {
    translate: 0;
}

/*
================================
HEADER
================================
*/

header {
    align-items: normal;
    justify-content: left;
    margin-bottom: 10%;
}

h1#header-title, h2#header-subtitle {
    position: relative;
    top: 25vh;
    font-weight: bolder;
}

h1#header-title {
    font-size: 2.5em;
}

h2#header-subtitle {
    font-size: 1em;
}

/*
================================
SAFE ZONE HOME PAGE
================================
*/

div#safe-zone-content {
    top: 50vh;

    padding: 0;
    margin: 0;
}

div#safe-zone-content p {
    background-color: transparent;
}

div#safe-zone-content a {
    padding: 0.3em 0;
    border-radius: 0;
}

/*
================================
HOME PAGE
================================
*/

dl {
    margin: 1em;
}

dt#fuorisede, dt#sede, dt#pendolare, dt#dad {
    display: block;
    width: 100vw;
    height: 40vh;
    text-align: center;
}

dd#fuorisede-text, dd#sede-text, dd#pendolare-text, dd#dad-text {
    padding: 0;
    width: 100vw;
    height: auto;
    margin-top: 15%;
}

dt#fuorisede {
    order: 1;
}

dd#fuorisede-text {
    order: 2;
}

dt#pendolare {
    order: 3;
}

dd#pendolare-text {
    order: 4;
}

dt#sede {
    order: 5;
}

dd#sede-text {
    order: 6;
}

dt#dad {
    order: 7;
}

dd#dad-text {
    order: 8;
}

div#presentation-div {
    display: block;
    text-align: center;
    margin: 1em;
}

div#presentation-div p {
    padding: 1em;
    text-align: left;
}

div#presentation-div img {
    margin-bottom: 5%;
}

/*
================================
CATALOGUE PAGE
================================
*/

#filter {
    display: block;
}

#filter .filter-param {
    margin-top: 0.5em;
}

#filter .filter-param .filter-input {
    width: 40vw;
    max-width: none;
}

ul#recipe-list {
    display: block;
}

ul#recipe-list .recipe {
    box-sizing: border-box;
    margin: 0 0 4em;
    width: 100%;
}
ul#recipe-list .recipe ul.recipe-info li {
    box-sizing: border-box;
    width: 50%;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

/*
================================
USER PAGE
================================
*/

#fav-recipe-list {
    padding: 0;
}

#fav-recipe-list .fav-recipe {
    height: auto;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop {
    height: 10em;
    width: 100%;
    max-width: none;
}

#fav-recipe-list .fav-recipe .fav-recipe-title {
    display: flex;
    align-items: center;
    height: 5em;
    padding: 0 0.5em;
}

#fav-recipe-list .fav-recipe .fav-recipe-title h4 {
    font-size: 1.5em;
}

#fav-recipe-list .fav-recipe .fav-recipe-info {
    list-style-type: none;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li {
    width: 35%;
    padding: 0.5em 0;
}

#fav-recipe-list .fav-recipe a {
    margin-top: 0.5em;
}
