* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    /* DEFAULT */
    --a-color: #5F9950;
    --a-visited-color: #C76F0A;
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --accent:#EFAE50;
    --accent-secondary:#392A24;
    --text-color:white;
    /* SPECIAL CASES */
    --header-content-text-color: black;
    --header-content-a-bg-color: #d6cccc;
    --menu-a-color: white;
    --menu-login-a-color: #4E0000;
    --dt-bg-color: white;
    --shadowcolor: #d88913;
    --accent-a-color: #000A5F;
    --accent-a-visited-color: #4E0000;
    --safe-zone-a-bg-color: #E1BA84;
}

@font-face {
    font-family: "Inter";
    font-size: 100%;
    src: url("../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 300 900;
    font-stretch: 35% 100%;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--bg-primary);
    line-height: 1.5;
}

a {
    color: var(--a-color);
}

a:visited {
    color: var(--a-visited-color);
}

.hide {
    position: absolute;
    text-indent: -999em;
}

/*
==================================================
NAVIGATION HELP
==================================================
*/

nav#list-help {
    position: absolute;
    top: 30vh;
    left: 0;
}

nav#list-help ul {
    display: block;
    list-style-type: none;
    width: 50vw;
}

nav#list-help li {
    display: inline-block;
}

nav#list-help a {
    position: absolute;
    text-indent: -999em;
}

nav#list-help a:focus {
    position: absolute;
    text-indent: 0em;
    background-color: var(--bg-primary);
}

/*
==================================================
HEADER
==================================================
*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/header-bg.jpg");
    background-color: var(--bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2%;
    height: 40vh;
}

header#home-header {
    height: 100vh;
}

header h1, header h2 {
    color: var(--text-color);
    align-self: center;
}

h1#header-title {
    font-size: 5em;
}

h2#header-subtitle {
    font-style: italic;
    font-weight: lighter;
}

/*
=============================
MENU
=============================
*/

nav#menu {
    position: absolute;
    top: 1em;
    background-color: var(--accent-secondary);
    border-radius: 40px;
    margin-top: 2%;
}

nav#menu ul {
    display: flex;
    gap: 2em;
    padding: 1% 3.3em;
    list-style-type: none;
    align-items: center;
}

nav#menu li {
    display: flex;
    justify-content: center;
    border-radius: 5px;

    padding: 0 1em;
    width: 3.9em;
    padding: 0.5em 0.8em;
    font-weight: bolder;
}

img#profile-picture {
    vertical-align: text-bottom;
    padding-left: 3%;
    width: 1em;
}

nav#menu a:link {
    color: var(--menu-a-color);
}

nav#menu a:visited {
    color: var(--accent);
}

nav#menu li#current-page {
    background-color: var(--accent);
    color: var(--bg-primary);
    border-radius: 10px;
}

nav#menu li#website-name-in-nav {
    margin-right: 3em;
    color: var(--text-color)
}

nav#menu li#menu-profile-item {
    margin-left: 3em;
    background-color: var(--accent);
}

nav#menu li#menu-profile-item a {
    color: var(--bg-primary);
}

nav#menu li#menu-profile-item img {
    padding-left: 0.3em;
}

/*
==================================================
HOME PAGE SAFE ZONE
==================================================
*/

div#safe-zone-content {
    background-color: var(--accent);
    position: absolute;
    top: 70vh;
    left: 0;

    margin: 0 3em;
    padding: 0.5em 1em;
    border-radius: 20px;
    text-align: center;
}

div#safe-zone-content a {
    display: block;
    padding: 0.5em 1em;
    background-color: var(--safe-zone-a-bg-color);
    border-radius: 20px;
}

div#safe-zone-content a:link {
    color: var(--accent-a-color)
}

div#safe-zone-content a:visited {
    color: var(--accent-a-visited-color)
}

div#safe-zone-content p {
    background-color: var(--accent);
    color: var(--header-content-text-color)
}

div#safe-zone-content li {
    display: inline-block;
}

/*
==================================================
BREADCRUMB
==================================================
*/

nav#breadcrumb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0;
}

nav#breadcrumb p {
    display: inline;
    background-color: var(--accent-secondary);
    color: var(--text-color);
    border-radius: 100px;
    padding: 0.3% 2em;
}

/*
==================================================
CONTENT
==================================================
*/

main {
    margin: 5vh 0;
    padding: 0 2vw;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--accent);
}

p {
    background-color: var(--bg-secondary);
    color: var(--text-color);
    line-height: 1.5em;
}

.content-p {
    padding: 0.7em 1em;
}

abbr {
    text-decoration: none;
}

form label {
    color: var(--accent);
    font-weight: bold;
}

fieldset {
    border: 0;
}

.input-round {
    background-color: var(--bg-primary);
    color: var(--text-color);
    border: 4px solid var(--accent);
    border-radius: 999px;
}

/*
================================
HOME PAGE
================================
*/

p#presentation-text {
    margin: 2em 0;
    text-align: center;
    padding: 2%;
}

dl {
    margin: 5% 7em;
    display: flex;
    flex-wrap: wrap;
}

a.recipe-link {
    display: block;
    padding-top: 2%;
}

dt#fuorisede, dt#sede, dt#pendolare, dt#dad {
    display: inline;
    width: 30%;
    height: 40vh;

    background-color: var(--dt-bg-color);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 2em;
    font-weight: bolder;

    border-radius: 20px;
    box-shadow: 0 0 25px 5px var(--shadowcolor);
}

dt#fuorisede, dt#sede {
    text-align: right;
}

dd#fuorisede-text, dd#sede-text {
    padding-left: 5%;
}

dd#pendolare-text, dd#dad-text {
    padding-right: 5%;
}

dd#fuorisede-text, dd#sede-text, dd#pendolare-text, dd#dad-text {
    color: var(--text-color);
    width: 65%;
    height: 40vh;

    text-align: center;
}

dd#sede-text, dd#pendolare-text, dd#dad-text, dt#sede, dt#pendolare, dt#dad {
    margin-top: 15%;
}

dt#fuorisede {
    order: 1;
    background-image: url("../assets/img/fuorisede-image.jpg");
}

dd#fuorisede-text {
    order: 2;
}

dt#pendolare {
    order: 4;
    background-image: url("../assets/img/pendolare-image.jpg");
    background-position: 0%;
}

dd#pendolare-text {
    order: 3;
}

dt#sede {
    order: 5;
    background-image: url("../assets/img/sede-image.jpg");
}

dd#sede-text {
    order: 6;
}

dt#dad {
    order: 8;
    background-image: url("../assets/img/dad-image.jpg");
}

dd#dad-text {
    order: 7;
}

div#presentation-div {
   display: grid;
   grid-template-areas: 'b h2'
                        'b a';
   margin: 10% 7em;
   background-color: var(--accent-secondary);
   padding: 1%;
   border-radius: 5px;
}

div#presentation-div img {
    grid-area: b;
    width: 95%;
    border-radius: 5px;
}

div#presentation-div h2, div#presentation-div p {
    text-align: center;
}

div#presentation-div h2 {
    grid-area: h2;
    background-color: var(--bg-secondary);
    color: var(--accent);

    font-style: italic;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#presentation-div p {
    grid-area: a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3%;
}

/*
================================
CATALOGUE PAGE
================================
*/

.search-el {
    padding: 0.5em 0.9em;
}

#search-bar {
    margin: 1.5% 0;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    /* background: url("../assets/img/def-profile.png") no-repeat;
    background-size: contain;
    background-position: right 0.9em center; */
}

#search-bar::-webkit-search-cancel-button {
    display: none;
}

#filter {
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
}

#filter label {
    padding: 0.5em 0;
    font-weight: bold;
}

#filter .filter-param {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter .filter-param span {
    font-size: 1.2em;
}

#filter .filter-param .filter-input {
    width: 15vw;
    max-width: 14em;
}

#filter .filter-param .filter-input option {
    background-color: var(--bg-primary);
}

#filter input[type="range"].filter-input {
    margin: auto;
    accent-color: var(--accent);
}

#search-btn {
    display: block;
    margin: 1.5em auto 0;
    width: 30%;
    padding: 0.4em;
    font-size: 1.2em;
    background-color: var(--accent);
    border: none;
    border-radius: 999px;
    font-weight: bold;
}

ul#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
    list-style-type: none;
}

ul#recipe-list .recipe {
    margin: 0 3em 4em;
    width: 34%;   /* corresponds to 25em with main at 1200px */
    min-width: 20em;
    height: 26em;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--accent);
}

ul#recipe-list .recipe .recipe-img-crop {
    width: 100%;
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul#recipe-list .recipe .recipe-img-crop img {
    width: 100%;
}

ul#recipe-list .recipe .recipe-title {
    padding-top: 0.6em;
    height: 20%;
    /* NOTE: is there a better way? */
    display: flex;
    align-items: center;
}

ul#recipe-list .recipe .recipe-title h3 {
    font-size: 1.6em;
}

ul#recipe-list .recipe ul.recipe-info {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(30% - 0.6em);
}

ul#recipe-list .recipe ul.recipe-info li {
    width: 10em;
    padding: 0.4em 0;
}

ul#recipe-list .recipe ul.recipe-info img {
    height: 2em;
    vertical-align: middle;
    padding-right: 1em;
}

ul#recipe-list .recipe a {
    display: block;
    text-align: right;
    padding-top: 0.3em;
    padding-right: 1em;
    font-weight: bold;
}

/*
================================
USER PAGE
================================
*/

/* .editable-user {
    position: relative;
}

.editable-user a {
    width: 2em;
    height: 2em;
    background-image: url("../../Assets/Icons/edit.svg");
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
} */

#title-nick {
    text-align: center;
    font-size: 2.5em;
}

#title-nick span {
    font-size: 65%;
}

#profile-img {
    display: block;
    margin: 1.5em auto;
    width: 8em;
    border-radius: 50%;
    border: 4px solid black;
}

#stud-cat, #login-date {
    background-color: unset;
    text-align: center;
    padding: 0.3em 0;
}

#stud-cat {
    font-size: 1.2em;
}

#login-date {
    color: var(--accent);
}

.user-p-title {
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}

a#profile-edit-link {
    display: block;
    text-align: center;
    margin: 3em auto 0;
    padding: 0.5em 0;
    background-color: var(--accent);
    color: var(--bg-primary);
    font-weight: bold;
    width: 20em;
    border-radius: 999px;
}

#fav-recipe-list {
    background-color: rgb(66, 38, 22);
    list-style-type: none;
    padding: 0 6vw;
    border: 4px solid rgb(34, 19, 9);
    border-radius: 5px;
    min-height: 12em;
    /* NOTE: not so buty but at least the section for the empty list is centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#empty-fav-recipe-list {
    background-color: unset;
    text-align: center;
}

#fav-recipe-list .fav-recipe {
    background-color: var(--bg-secondary);
    height: 13em;
    margin: 1em 2em;
    padding: 5px;
    border-radius: 5px;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop {
    float: left;
    height: 100%;
    width: 45%;
    max-width: 18em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop img {
    width: 100%;
}

#fav-recipe-list .fav-recipe .fav-recipe-title {
    display: flex;
    align-items: center;
    height: 35%;
    padding: 0 1em;
}

#fav-recipe-list .fav-recipe .fav-recipe-title h4 {
    font-size: 1.5em;
}

#fav-recipe-list .fav-recipe .fav-recipe-info {
    list-style-type: none;
    color: var(--text-color);
    height: 52%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li {
    width: 8em;
    padding: 0.4em 0;
    /* TODO: only when info are inline */
    /* text-align: center; */
}

#fav-recipe-list .fav-recipe .fav-recipe-info li img {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

#fav-recipe-list .fav-recipe a {
    display: block;
    text-align: right;
    padding-right: 1em;
}

.danger-btn {
    display: block;
    width: 100%;
    height: 3em;
    background-color: red;
    color: var(--p-color);
    font-weight: bold;
    margin-bottom: 1vh;
    /* NOTE: create a class for the border */
    border: 4px solid rgb(177, 0, 0);
    border-radius: 5px;
}

/*
================================
USER EDIT PAGE
================================
*/

#edit-div {
    height: 12em;
    width: 60%;
    margin: 0 auto;
}

#profile-img-preview {
    position: relative;
    width: 12em;
    height: 12em;
    border: 3px solid var(--accent);
    border-radius: 999px;
    float: left;
}

input[type="file"]#profile-img-edit {
    color: rgba(0, 0, 0, 0);
}

input[type="file"]#profile-img-edit::file-selector-button {
    color: rgba(0, 0, 0, 0);
    background-image: url("../../Assets/Icons/edit.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-primary);
    border: 3px solid var(--accent);
    border-radius: 999px;
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 5%;
    right: 0;
}

.edit-input {
    padding: 0.5em 0.9em;
    width: 20em;
}

label[for="nickname-edit"], #nickname-edit,
label[for="stud-cat-edit"], #stud-cat-edit,
label[for="bio-edit"], #bio-edit {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#stud-cat-edit.edit-input {
    text-align: left;
}

label[for="nickname-edit"], label[for="stud-cat-edit"], label[for="bio-edit"] {
    /* padding-top: 1.7em;
    padding-bottom: 0.8em; */
}

/*
==================================================
FOOTER
==================================================
*/

footer {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    display: inline;
    font-style: italic;
    font-weight: 300;
    margin: 0 2em 0 2em;
}

footer img {
    vertical-align: middle;
}

footer a {
    display: block;
}
