*, *::after, *::before {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --bg-primary: #171717;
    --bg-secondary: #242424;
    --bg-trinary: #454545;
    --accent:#EFAE50;
    --accent-secondary:#392A24;
    --accent-trinary:#0C6F59;
    --text-color:white;
    --a-color: #5F9950;
    --menu-a-color: white;
    /* SPECIAL CASES */
    /* --a-visited-color: #C76F0A; */
    /* --header-content-text-color: black; */
    /* --header-content-a-bg-color: #d6cccc; */
    /* --dt-bg-color: white; */
    /* --menu-login-a-color: #4E0000; */
    /* --shadowcolor: #d88913; */
    /* --accent-a-color: #000A5F; */
    /* --accent-a-visited-color: #4E0000; */
    /* --safe-zone-a-bg-color: #E1BA84; */

    /* MARGINS */
    --main-mt:2rem;
    --main-mb:5rem;
    --section-mb:7rem;

    /*TRANSITIONS*/
    --animation-duration:1.1s;

    /* TEXT */
    --title: 4rem;
    --subtitle: 1.5rem;
    --menu-text:1.1rem;
    --form-label:1.2rem;
    --button-text:1.2rem;
    --section-title: 3em;
    --desc-title:1.3rem;
    --quick-text-hint: 1.1rem;
    --letter-spacing:.2rem;

    /* BORDERS */
    --radius-max: 100px;
    --radius-mid: 32px;
    --radius-small: 10px;

    /* FORMS */
    --button-width:10rem;
    --button-height:3rem;
}

@font-face {
    font-family: "Inter";
    font-size: 100%;
    src: url("../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 300 900;
    font-stretch: 35% 100%;
    font-style: normal;
    font-display: swap;
}

/* ================================================== */

/* #region GENERAL CLASSES */
html body {
    height: 100%;
}

body {
    background-color: var(--bg-primary);
    line-height: 1.5;
}

a {
    color: var(--accent);
}

a:visited {
    color: var(--accent-trinary);
}

p {
    color: var(--text-color);
}

.content {
    padding: 0 1rem 0 1rem;
}

.content-container {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 2rem;
}

.content-container-left {
    background-color: var(--bg-secondary);
    padding: 2rem 0;
}

.content-subtitle {
    font-size: var(--section-title);
    padding-bottom: .4em;
}

.end-paragraph{
    margin-bottom: var(--section-mb);
}

.form-label {
    display: block;
    margin-bottom: .8em;
    color: var(--accent);
    font-weight: 500;
    font-size: var(--form-label);
}

.hide {
    position: absolute;
    text-indent: -999em;
}
/* #endregion GENERAL CLASSES */

/* ================================================== */

/* #region HEADER */
header {
    background-image: url("../assets/img/1.jpg");
    background-color: var(--bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 1.5rem;
}

#header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
}

#header-titles {
    letter-spacing: var(--letter-spacing);
    padding: .5rem;
    order: 3;
}

header h1, header h2 {
    color: var(--text-color);
    text-align: center;
    line-height: normal;
}

h1#header-title {
    font-weight: 900;
    font-size: var(--title);
}

h2#header-subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: var(--subtitle);
}
/* #endregion HEADER */

/* ================================================== */

/* #region NAV-HELP */
nav#list-help {
    position: absolute;
    top: 0;
    left: 0;
}

nav#list-help ul {
    display: block;
    list-style-type: none;
    width: 80vw;
}

nav#list-help li {
    display: inline-block;
}

nav#list-help a {
    position: absolute;
    text-indent: -999rem;
}

nav#list-help a:focus {
    position: absolute;
    text-indent: 0rem;
    background-color: var(--bg-primary);
}
/* #endregion NAVIGATION HELP */

/* ================================================== */

/* #region MENU */
#hamburger {
    display: none;
}

nav#menu {
    padding: 1.5rem 1rem 0;
    min-width: 100%;
    order: 2;
}

nav#menu ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: var(--accent-secondary);
    border-radius: var(--radius-max);
    padding: .6rem 2rem .6rem 2rem;
}

nav#menu li {
    font-weight: 700;
    font-size: var(--menu-text);
}

nav#menu li:not(:first-child):not(:last-child) {
    border-radius: var(--radius-max);
    margin: 0 1.5rem 0 1.5rem;
}

.logo {
    width: 3rem;
    height: 3rem;
}

nav#menu li:has(.logo) {
    border-right: 3px solid var(--accent);
    padding-right: 1rem;
    margin-right: 1rem;
}

nav#menu li#current-page {
    padding: .2rem 1.3rem;
    background-color: var(--accent);
    color: var(--accent-secondary);
}

nav#menu a:link {
    color: var(--menu-a-color);
}

nav#menu a:visited {
    color: var(--accent);
}

nav#menu li#profile-item {
    margin-left: auto;
    background-color: var(--accent-trinary);
    border-radius: 10px;
    padding: .5rem 1.3rem;
}

nav#menu li#profile-item a {
    color: white;
}
/* #endregion MENU */

/* ================================================== */

/* #region BREADCRUMB */
nav#breadcrumb {
    order: 4;
}

nav#breadcrumb p {
    font-size: 1rem;
    width: fit-content;
    font-style: italic;
    background-color: var(--accent-secondary);
    color: var(--text-color);
    border-radius: var(--radius-mid);
    padding: .2rem 1rem .2rem 1rem;
}
/* #endregion BREADCRUMB */

/* ================================================== */

/* #region MAIN */
main {
    margin-top: var(--main-mt);
    margin-bottom: var(--main-mb);
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--accent);
}

abbr {
    text-decoration: none;
}
/* #endregion MAIN */

/* ================================================== */

/* #region HOME PAGE ROLES */
nav#quick-role {
    background-color: var(--bg-secondary);
}

nav#quick-role ul {
    text-align: center;
    padding: 1.1rem 0 1.1rem 0;
    margin-bottom:var(--main-mt);
}

nav#quick-role li {
    text-align: center;
    display: inline-block;
    width: 15%;
    margin: .5rem 2rem .5rem 2rem;
    font-weight: 600;
    font-size: var(--menu-text);
    font-style: italic;
    white-space: nowrap;
}

nav#quick-role a:link {
    color: var(--accent)
}

nav#quick-role a:visited {
    color: var(--accent-trinary)
}
/*#endregion HOME PAGE ROLES */

/* ================================================== */

/* #region HOME PAGE CONTENT */
dl#roles dt {
    letter-spacing: var(--letter-spacing);
    text-align: center;
    color: var(--accent);
    font-weight: 800;
    font-size: var(--section-title);
    padding: 6rem 0 6rem 0;

    background-color: var(--accent-secondary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin-bottom: 1.5rem;

    border-top: 5px solid var(--accent-secondary);
    border-bottom: 5px solid var(--accent-secondary);
}

dl#roles dt div {
    margin: auto;
    background-image: url("../assets/img/brush.svg");
    background-repeat: no-repeat;
    background-position: center;
}

dl#roles dt#fuorisede {
    background-image: url("../assets/img/fuorisede-image.jpg");
}

dl#roles dt#pendolare {
    background-image: url("../assets/img/pendolare-image.jpg");
}

dl#roles dt#sede {
    background-image: url("../assets/img/sede-image.jpg");
}

dl#roles dt#dad {
    background-image: url("../assets/img/dad-image.jpg");
}

dl#roles dd {
    overflow: hidden;
    text-align: center;
    background-color: var(--bg-secondary);
    padding: 2rem;
    overflow: hidden;
}

dl#roles dd:not(:last-child) {
    margin-bottom: 10rem;
}

.flip-card {
    max-width: 800px;
    margin: auto;
    perspective: 1100px;
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform var(--animation-duration) cubic-bezier(.04,.43,.41,1.27);
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

dd:has(input:checked) .flip-card .flip-card-inner {
    transform: rotateX(180deg);
}

dd:has(input:checked) .flip-card .flip-card-back {
    visibility: visible;
}
dd:has(input:checked) .flip-card .flip-card-front p {
    visibility: hidden;
}

.flip-card-back, .flip-card-front {
    border-radius: 20px;
}

.flip-card-front {
    position: relative;
    padding: 3rem;
    background-color: var(--accent);
    color: var(--bg-primary);
}

.flip-card-back {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--accent-trinary);
    color: white;
    transition: visibility var(--animation-duration);
    transform: rotateX(180deg);
}

.flip-card-back h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

.flip-card-back ul {
    margin: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    list-style-type: none;
}

.flip-card-back li {
    margin: 1rem;
    font-style: italic;
}

dl p {
    color: var(--bg-primary);
    text-align: center;
    font-weight: 500;
    transition: visibility var(--animation-duration);
}

dd input{
    padding: 0;
    margin: 0;
    appearance: none;
    outline: none;
    pointer-events: none;
}

dd:has(input:focus-visible) #role-info-label {
    border: 2px solid white;
}

dd:has(input:checked) #role-info-label {
    color: var(--bg-primary);
    background-color: var(--accent);
}

dd #role-info-label {
    color: var(--text-color);
    background-color: var(--accent-trinary);
    border-radius: var(--radius-max);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--animation-duration) , color var(--animation-duration);
}

#role-desc a{
    display: block;
    margin-top: 1rem;
}
/* #endregion HOME PAGE CONTENT*/

/* ================================================== */

/* #region HOME PAGE WHY */
div#why {
    background-color: var(--accent-secondary);
}

div#why > div {
    display: flex;
    gap: 2rem;
}

div#why #why-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-radius: var(--radius-small);
    padding: 1rem;
}

div#why #why-desc h2 {
    margin-bottom: 3rem;
}

div#why #why-desc p {
    margin: auto;
    padding-bottom: 3rem;
}

div#why img {
    flex: 2;
    object-fit: cover;
    border-radius:  var(--radius-small);
}
/* #endregion HOME PAGE WHY */

/* ================================================== */

/*#region CATALOGUE PAGE */
ul#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5vh;
    list-style-type: none;
}

ul#recipe-list .recipe {
    margin-bottom: 4em;
    width: 34%;
    min-width: 19em;
    height: 26em;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: 0.5em;
    color: var(--text-color);
}

ul#recipe-list .recipe .recipe-img-crop {
    width: 100%;
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul#recipe-list .recipe .recipe-img-crop img {
    width: 100%;
}

ul#recipe-list .recipe .recipe-title {
    padding-top: 0.6em;
    height: 20%;
    /* NOTE: is there a better way? */
    display: flex;
    align-items: center;
}

ul#recipe-list .recipe .recipe-title h3 {
    font-size: 1.6em;
}

ul#recipe-list .recipe ul.recipe-info {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30%;
}

ul#recipe-list .recipe ul.recipe-info li {
    width: 9em;
    padding: 0.4em 0;
}

ul#recipe-list .recipe ul.recipe-info img {
    height: 2em;
    vertical-align: middle;
    padding-right: 1em;
}

ul#recipe-list .recipe a {
    display: block;
    text-align: right;
    padding-top: 0.3em;
    padding-right: 1em;
    font-weight: bold;
}

#page-changer {
    text-align: center;
}

#prev-page-btn, #next-page-btn {
    width: 2.5em;
    height: 2.5em;
    margin: 0 1em;
    background-size: contain;
    background-color: var(--accent);
    border: 0;
    border-radius: 50%;
    vertical-align: middle;
}

#prev-page-btn {
    background-image: url("../../Assets/Icons/arrow.svg");
}

#next-page-btn {
    background-image: url("../../Assets/Icons/arrow.svg");
}

#page-changer span {
    padding: 0 0.4em;
    color: var(--accent);
    font-size: 1.2em;
    font-weight: bold;
}
/* #endregion CATALOGUE PAGE */

/* ================================================== */

/* #region SIGN IN/UP PAGE */
.sign-box fieldset {
    border: 2px solid var(--accent);
    border-radius: var(--radius-small);
    background-color: var(--bg-secondary);
    padding: 2em 5em;
}

#student-name-in, #student-psw-in,
#student-name-up, #student-cat-up, #student-mail-up, #student-psw-up {
    display: block;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 2em;
    text-indent: 1em;
    font-size: .9em;
    background-color: rgb(48, 48, 48);
    border-radius: var(--radius-max);
    border: 3px solid var(--accent);
    color: white;
}

#name-up-container {
    width: 50%;
    float: left;
    padding-right: 1.5em;
}

#cat-up-container {
    width: 50%;
    float: right;
    padding-left: 1.5em;
}

.sign-box #credentials {
    margin-bottom: 3rem;
}

.sign-box button {
    border-style: none;
    font-weight: 700;
    font-size: var(--button-text);
    border-radius: var(--radius-small);
}

.sign-box #credentials button {
    float: right;
    width: var(--button-width);
    height: var(--button-height);
    margin-left: 1em;
}

.sign-box .confirm {
    background-color: var(--accent);
    color: var(--bg-primary);
}

.sign-box .cancel {
    background-color: var(--accent-secondary);
    color: var(--text-color);
}

.sign-box #redirect {
    text-align: center;
    font-size: var(--quick-text-hint);
}

.sign-box #redirect p:nth-child(2) {
    margin-bottom: 2rem;
}

.sign-box #redirect button{
    width: 100%;
    height: var(--button-height);
    color: var(--text-color);
    background-color: var(--accent-trinary);
}
/* #endregion SIGN IN/UP PAGE */

/* ================================================== */

/* #region USER PAGE */
#title-nick {
    text-align: center;
    font-size: 2.5em;
}

#title-nick span {
    font-size: 65%;
}

#profile-img {
    display: block;
    margin: 1.5em auto;
    width: 8em;
    border-radius: 50%;
    border: 4px solid black;
}

#stud-cat, #login-date {
    text-align: center;
    padding: 0.3em 0;
}

#stud-cat {
    font-size: 1.2em;
}

#login-date {
    color: var(--accent);
}

#fav-recipe-list {
    background-color: rgb(66, 38, 22);
    list-style-type: none;
    padding: 0 3vw;
    border-top: 4px solid rgb(34, 19, 9);
    border-bottom: 4px solid rgb(34, 19, 9);
    border-radius: 5px;
    min-height: 12em;
    /* NOTE: not so buty but at least the section for the empty list is centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#empty-fav-recipe-list {
    text-align: center;
}

#fav-recipe-list .fav-recipe {
    background-color: var(--bg-secondary);
    height: 13em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    border-radius: 5px;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop {
    float: left;
    height: 100%;
    width: 45%;
    max-width: 18em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop img {
    width: 100%;
}

#fav-recipe-list .fav-recipe .fav-recipe-title {
    display: flex;
    align-items: center;
    height: 35%;
    padding: 0 1em;
}

#fav-recipe-list .fav-recipe .fav-recipe-title h4 {
    font-size: 1.6em;
}

#fav-recipe-list .fav-recipe .fav-recipe-info {
    list-style-type: none;
    color: var(--text-color);
    height: 52%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li {
    width: 8em;
    padding: 0.4em 0;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 970px) {
    #fav-recipe-list .fav-recipe .fav-recipe-info li {
        width: 40%;
        min-width: 9em;
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    #fav-recipe-list .fav-recipe .fav-recipe-info li {
        text-align: left;
    }
}

#fav-recipe-list .fav-recipe .fav-recipe-info li img {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

#fav-recipe-list .fav-recipe a {
    display: block;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}

a#edit-profile-link {
    display: block;
    margin: 2em auto;
    text-align: center;
    width: 14em;
    padding: .8em;
    border-style: none;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--bg-primary);
}

button#log-out-btn {
    display: block;
    margin: 2em auto;
    text-align: center;
    width: 14em;
    padding: .8em;
    border-style: none;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: var(--accent-secondary);
    color: var(--text-color);
}
/* #endregion USER PAGE */

/* ================================================== */

/* #region USER EDIT PAGE */
.danger-btn {
    display: block;
    width: calc(100% - 2.5em);
    height: 3em;
    background-color: red;
    color: var(--p-color);
    font-weight: bold;
    margin:0 auto .5em;
    border: 4px solid rgb(177, 0, 0);
    border-radius: 5px;
}
/* #endregion USER EDIT PAGE */

/* ================================================== */

/* #region ABOUT US PAGE */
#pp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 15px solid green;
}

#recipie-request img {
    float: left;
    margin-right: 4rem;
}

#recipie-request form {
    text-align: start;
}

#recipie-request textarea {
    resize: none;
    padding: 1em;
    height: 18rem;
    width: 100%;
    font-size: 1.05rem;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    border: 3px solid var(--accent);
    overflow: auto;
    border-radius: var(--radius-small);
    margin-bottom: .5em;
}

#recipie-request fieldset {
    border: none;
    border-radius: var(--radius-small);
}

#recipie-request button {
    width: var(--button-width);
    height: var(--button-height);
    border-style: none;
    font-weight: 700;
    font-size: var(--button-text);
    border-radius: var(--radius-small);
    margin-left: 1rem;
}

#recipie-request #cancel {
    float: right;
    background-color: var(--accent-secondary);
    color: var(--text-color);
}

#recipie-request #confirm {
    float: right;
    background-color: var(--accent);
    color: var(--bg-primary);
}

#admin-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5rem;
}

.admin-cell {
    text-align: center;
}

.admin-cell p{
    overflow-wrap: break-word;
}

.admin-cell-margin {
    margin-bottom: 1em;
}

.admin-cell strong {
    display: block;
    font-size: var(--desc-title);
    color: var(--accent);
    font-weight: 750;
}

.admin-cell p {
    font-style: italic;
    font-weight: 300;
}
/* #endregion ABOUT US PAGE */

/* ================================================== */

/* #region ERROR PAGE */
#header-content.err-page-header {
    min-height: 35vh;
}

#content.err-page-content {
    min-height: calc(65vh - var(--main-mt) - var(--main-mb));
}

#err-page-h1 {
    text-align: center;
    font-size: 5em;
}

#err-page-h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 0 3em;
}

#err-page-p {
    text-align: center;
    font-size: 1.3em;
    padding: 2em;
}

#err-page-a {
    display: block;
    width: 14em;
    font-size: 1.4em;
    font-weight: bold;
    background-color: var(--accent);
    text-align: center;
    padding: 1em 0;
    margin: 2em auto;
    border-radius: var(--radius-small);
}
/* #endregion ABOUT US PAGE */

/* ================================================== */

/* #region FOOTER */
footer {
    background-color: var(--bg-secondary);
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
    margin: 1em 0 1em 0;
}

footer a {
    color: var(--accent);
}
/* #endregion FOOTER */
