/*
*   GLOBALI
*/

*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root
{
    /*CAMBIARE COLORE LINK NON VISITATI NEL MENU (ALTRIMENTI NO DIFFERENZA 
    TRA ATTUALE E NON VISITATO
    */
    /*
    *   DEFAULT COLORS
    */
    --bgcolor: #080808;
    --textbgcolor: #d88913;
    --textcolor: #000;
    --acolor: #5F9950;
    --avisitedcolor: #B06F0C;
    /*
    *   HEADER ZONE
    */
    --ribboncolor: #d88913;
    --titlecolor: #FFF;
    --ahelpbgcolor: #080808;
    /*
    *   NAV ZONE
    */
    --menubgcolor: #5c2b13;
    --menulinkcolor: #FFF;
    --menuvisitedlinkcolor: #d88913;
    --currentpagelinkcolor: #5c2b13;
    --currentpagebgcolor: #d88913;
    /*
    * BREADCRUMB
    */
    --breadcrumbbgcolor: #5c2b13;
    --breadcrumbtxtcolor: #FFF;
    /*
    * MAIN PAGE WEBSITE PRESENTATION SECTION
    */
    --rolelisttitlebgcolor: #FFF;
    --rolelisttitlecolor: #000;
    --rolelisttextbgcolor: #080808;
    --rolelisttextcolor: #FFF;
    --shadowcolor: #d88913;
    /*
    *   MAIN PAGE TEAM PRESENTATION SECTION
    */
    --presentationdivbgcolor: #5c2b13;
    /*
    *   FOOTER
    */
    --footerbgcolor: #d88913;
}

body
{
    background-color: var(--bgcolor);
}

p
{
    background-color: var(--textbgcolor);
    color: var(--textcolor);
    line-height: 1.5em;
}

a
{
    color: var(--acolor);
}

a:visited
{
    color: var(--avisitedcolor);
}

/*
*   HEADER
*/

header
{   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/img/header-bg.jpg");
    background-color: var(--bgcolor);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2%;
}

header h1, header h2
{
    color: var(--titlecolor);
    align-self: center;
}

h1#header-title
{
    font-size: 5em;
}

h2#header-subtitle
{
    font-style: italic;
    font-weight: lighter;
}

/*
*   ZONA SICURA HOME PAGE
*/


div#safe-zone-content
{
    background-color: var(--ribboncolor);
    width: 100%;
    padding: 1em 0;
    position: absolute;
    top: 70vh;
    text-align: center;
    padding: 1.5% 0em;
}

div#safe-zone-content li
{
    display: inline-block;
}

/*
*   LINK AIUTO ACCESSIBILITA'
*/

nav#list-help li
{
    display: inline-block;
}

nav#list-help a
{
    position: absolute;
    text-indent: -999em;
}

nav#list-help a:focus
{
    position: absolute;
    text-indent: 0em;
    background-color: var(--ahelpbgcolor);
}

/*
*   MENU' DI NAVIGAZIONE
*/

nav#menu
{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: var(--menubgcolor);
    border-radius: 40px;
    margin-top: 2%;
}

nav#menu ul
{
    display: flex;
    gap: 2em;
    padding: 1% 3.3em;
    list-style-type: none;
    align-items: center;
}

nav#menu li
{
    display: flex;
    justify-content: center;
    border-radius: 5px;

    padding: 0 1em;
    width: 3.9em;
    padding: 0.5em 0.8em;
    font-weight: bolder;
}

img#profile-picture
{
    vertical-align: text-bottom;
    padding-left: 3%;
    width: 1em;
}

nav#menu a:link
{
    text-decoration: none;
    color: var(--menulinkcolor);
}

nav#menu a:visited
{
    color: var(--menuvisitedlinkcolor);
}

nav#menu li#current-page
{
    background-color: var(--currentpagebgcolor);
    color: var(--currentpagelinkcolor);
    border-radius: 10px;
}

nav#menu li#website-name-in-nav
{
    margin-right: 3em;
}

nav#menu li#profile-item
{
    margin-left: 3em;
    background-color: var(--currentpagebgcolor);
}

nav#menu li#profile-item a
{
    color: var(--currentpagelinkcolor);
}

/*
* BREADCRUMB
*/

nav#breadcrumb
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#breadcrumb p
{
    display: inline;
    background-color: var(--breadcrumbbgcolor);
    color: var(--breadcrumbtxtcolor);
    border-radius: 100px;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
}

/*
*   HOME PAGE
*/

p#presentation-text
{
    color: var(--presentationtextcolor);
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 2%;
}

dl
{
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
}

a.recipe-link
{
    display: block;
    padding-top: 2%;
}

dt#fuorisede, dt#sede, dt#pendolare, dt#dad
{
    display: inline;
    width: 30%;
    height: 40vh;

    background-color: var(--rolelisttitlebgcolor);
    color: var(--rolelisttitlecolor);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-size: 2em;
    font-weight: bolder;

    border-radius: 20px;
    box-shadow: 0 0 25px 5px var(--shadowcolor);
}

dt#fuorisede, dt#sede
{
    text-align: right;
}

dd#fuorisede-text, dd#sede-text
{
    padding-left: 5%;
}

dd#pendolare-text, dd#dad-text
{
    padding-right: 5%;
}

dd#fuorisede-text, dd#sede-text, dd#pendolare-text, dd#dad-text
{
    /*background-color: var(--rolelisttextbgcolor);*/
    color: var(--rolelisttextcolor);
    width: 65%;
    height: 40vh;

    text-align: center;
}

dd#sede-text, dd#pendolare-text, dd#dad-text, dt#sede, dt#pendolare, dt#dad
{
    margin-top: 15%;
}

dt#fuorisede
{
    order: 1;
    background-image: url("../assets/img/fuorisede-image.jpg");
}

dd#fuorisede-text
{
    order: 2;
}

dt#pendolare
{
    order: 4;
    background-image: url("../assets/img/pendolare-image.jpg");
    background-position: 0%;
}

dd#pendolare-text
{
    order: 3;
}

dt#sede
{
    order: 5;
    background-image: url("../assets/img/sede-image.jpg");
}

dd#sede-text
{
    order: 6;
}

dt#dad
{
    order: 8;
    background-image: url("../assets/img/dad-image.jpg");
}

dd#dad-text
{
    order: 7;
}

div#presentation-div
{
   /*color:white; FALSO POSITIVO*/
   display: grid;
   grid-template-areas: 'b h2'
                        'b a';
   margin: 5% 10%;
   background-color: var(--presentationdivbgcolor);
   padding: 1%;
   border-radius: 5px;
}

div#presentation-div img
{
    grid-area: b;
    width: 95%;
    border-radius: 5px;
}

div#presentation-div h2, div#presentation-div p
{
    /*color: black; FALSO POSITIVO*/
    text-align: center;
}

div#presentation-div h2
{
    grid-area: h2;
    background-color: var(--textbgcolor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#presentation-div p
{
    grid-area: a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
*   FOOTER
*/

footer
{
    background-color: var(--footerbgcolor);
    clear:both;
    text-align: center;
}

footer p
{
    display: inline;
}

footer.valid
{
    vertical-align: middle;
}

footer a
{
    background-color: var(--ahelpbgcolor);
    position: absolute;
    text-indent: -999em;
}

footer a:focus
{
    background-color: var(--ahelpbgcolor);
    position: absolute;
    text-indent: 0;
}