:root {
    --hamburger-size-multiplier: 0.8;
    --bar-width: calc(3.7rem * var(--hamburger-size-multiplier));
    --bar-height: calc(0.9rem * var(--hamburger-size-multiplier));
    --hamburger-gap: calc(.4rem * var(--hamburger-size-multiplier));
    --hamburger-v-margin: .8rem;
    --hamburger-h-margin: 2.5rem;
    --animation-hamburger-timing: 200ms ease-in-out;
    --animation-dropdown-timing: 500ms cubic-bezier(.1, .36, .15, .98);
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* #region GENERAL CLASSES */
.button-input {
    width: 49%;
    margin-left: 0;
    margin-top: 1.5em;
}

.button-input-cancel {
    float: left;
    margin-bottom: 0;
}

.form-label {
    margin-bottom: .5em;
}

fieldset {
    padding: 1em;
}

.psw-chars {
    white-space: nowrap;
}

/* #endregion GENERAL CLASSES */

/* ================================================== */

/* #region HEADER */
#header-content {
    padding: 0;
}

/* #endregion HEADER */

/* ================================================== */

/* #region NAVIGATION HELP */
nav#list-help {
    z-index: 3;
}

/* #endregion NAVIGATION HELP */

/* ================================================== */

/* #region MENU */
#hamburger {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-secondary);
    width: 100%;
    z-index: 2;
}

nav#menu > a {
    display: inline;
}

#hamburger:has(input:checked) {
    background-color: rgba(57, 42, 36, 0);
}

#hamburger:has(input:checked) #hamburger-opened,
#hamburger:has(:not(input:checked)) #hamburger-closed {
    visibility: visible;
}

#hamburger:has(:not(input:checked)) #hamburger-opened,
#hamburger:has(input:checked) #hamburger-closed {
    visibility: hidden;
}

#hamburger-label {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--hamburger-gap);
    margin: var(--hamburger-v-margin) var(--hamburger-h-margin);
}

#hamburger-label::before,
#hamburger-label::after,
#hamburger-label input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    transform-origin: right center;
    transition: opacity var(--animation-hamburger-timing), width var(--animation-hamburger-timing),
        rotate var(--animation-hamburger-timing), translate var(--animation-hamburger-timing),
        background-color var(--animation-hamburger-timing);
    background-color: var(--accent);
}

#hamburger-label:has(input:focus-visible)::before,
#hamburger-label:has(input:focus-visible)::after,
#hamburger-label input:focus-visible {
    border: 1px solid white;
    box-shadow: 0 0 0 1px white;
}

#hamburger-label::before {
    background-image: url("../asset/img/burger/burger-top.png");
    background-size: 100% 100%;
}

#hamburger-label input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    background-image: url("../asset/img/burger/burger-middle.png");
    background-size: 100% 100%;
}

#hamburger-label::after {
    background-image: url("../asset/img/burger/burger-bottom.png");
    background-size: 100% 100%;
}

#hamburger-label:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-image: url("../asset/img/burger/fork.png");
    background-size: 100% 100%;
}

#hamburger-label:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-image: url("../asset/img/burger/knife.png");
    background-size: 100% 100%;
}

#hamburger-label input:checked {
    opacity: 0;
    width: 0;
}

nav#menu {
    position: fixed;
    transition: translate var(--animation-dropdown-timing);
    translate: 0 -100%;
    padding: 0 1rem;
    background-color: var(--accent-secondary);
    height: fit-content;
    width: 100vw;
}

#hamburger:has(input:checked)+#menu {
    translate: 0;
}

header:has(#hamburger-label input:not(:checked)) nav#menu a {
    visibility: hidden;
}

body:has(#hamburger-label input:checked) {
    overflow-y: hidden;
}

header:has(#hamburger-label input:checked) #list-help {
    visibility: hidden;
}

/* NOT SO BUTY */
body:has(#hamburger-label input:checked) main,
body:has(#hamburger-label input:checked) footer {
    visibility: hidden;
}

nav#menu ul {
    height: 40vh;
    margin-top: 2vh;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

nav#menu li:not(#profile-item) {
    width: 60%;
    text-align: center;
}

nav#menu li:has(.logo) {
    display: none;
}

#hamburger .logo {
    display: inline;
    padding: 0;
    margin: auto var(--hamburger-h-margin);
    border: 0;
}

nav#menu li#profile-item {
    margin: 0;
}

/* #endregion MENU */

/* ================================================== */

/* #region HOME PAGE */
nav#quick-role li {
    width: 50%;
}

nav#quick-role li:nth-child(2n+1) {
    float: left;
    margin: .5rem 0;
}

nav#quick-role li:nth-child(2n) {
    margin: .5rem 0;
}

div#why>div {
    flex-direction: column;
}

div#why img {
    width: 100%;
}

/* #endregion HOME PAGE */

/* ================================================== */

/* #region CATALOGUE PAGE */
#filters {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

select#ord-res {
    width: 100%;
}

ul#recipe-list {
    display: block;
}

ul#recipe-list .recipe {
    margin: 0 auto 4em;
    width: 100%;
    min-width: unset;
    height: auto;
}

ul#recipe-list .recipe div {
    padding: .3rem 0.65em .5rem 0.65em;
    height: auto;
}

ul#recipe-list .recipe .recipe-title {
    margin-bottom: 1rem;
    height: auto;
}

ul#recipe-list .recipe .catalogue-recipe-img-crop {
    height: 14em;
    border-radius: calc(var(--radius-small)* .5);
    object-fit: cover;
}

ul#recipe-list .recipe ul.recipe-info {
    height: auto;
}

ul#recipe-list .recipe ul.recipe-info li {
    width: 34%;
    min-width: 10em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

/* #endregion CATALOGUE PAGE */

/* ================================================== */

/* #region RECIPE PAGE */
#recipe-main-info {
    height: unset;
    display: block;
}

#recipe-img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#recipe-main-info ul {
    display: block;
    margin: 2rem auto;
    width: fit-content;
}

#recipe-main-info ul li {
    margin-top: 1.3em;
}

ul#ingredient-list {
    padding-left: 3rem;
}

#add-comment-pp {
    display: block;
    float: none;
    margin: 0 auto 1em;
}

#add-comment-eval-container {
    text-align: center;
}

/* #endregion RECIPE PAGE */

/* ================================================== */

/* #region SIGN UP PAGE */
#name-up-container {
    float: none;
    width: 100%;
    padding-right: 0;
}

#cat-up-container {
    float: none;
    width: 100%;
    padding-left: 0;
}

/* #endregion SIGN UP PAGE */

/* ================================================== */

/* #region USER PAGE */
#fav-recipe-list .fav-recipe {
    height: auto;
    min-width: unset;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop {
    float: none;
    max-width: none;
    width: 100%;
    height: 14em;
}

#fav-recipe-list .fav-recipe div {
    padding: .3rem 0.65em .5rem 0.65em;
}

#fav-recipe-list .fav-recipe .fav-recipe-title {
    margin-bottom: 1rem;
}

#fav-recipe-list .fav-recipe .fav-recipe-info {
    height: 30%;
    align-content: unset;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li {
    width: 34%;
    min-width: 9em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: left;
}

#fav-recipe-list .fav-recipe a {
    padding-top: 0.3em;
}

/* #endregion USER PAGE */

/* ================================================== */

/* #region USER EDIT PAGE */
#user-edit #primary-info {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

/* #endregion USER PAGE */

/* ================================================== */

/* #region ABOUT US PAGE */
#recipie-request img {
    float: none;
    margin-right: 0;
    margin-bottom: 60px;
}

#recipie-request button {
    width: 49%;
    margin-left: 0;
    margin-top: 1.5em;
}

#recipie-request #cancel {
    float: left;
}

#admin-grid {
    display: block;
}

.admin-cell {
    margin-bottom: 5rem;
}

/* #endregion ABOUT US */