:root {
    --title: 3.5rem;
    --subtitle: 1.2rem;
    --button-text: 1.2rem;
    --section-title: 2.7em;
    --desc-title: 1.2rem;
    --quick-text-hint: 1rem;
    --letter-spacing: .2rem;
    --word-spacing: .6rem;
}

/* #region GENERAL CLASSES */
.button-input {
    width: 100%;
    float: none;
    margin-bottom: .1em;
    margin-left: 0;
}

.content-subtitle {
    font-size: 2.5rem;
}

/* #endregion GENERAL CLASSES */

/* ================================================== */

/* #region HEADER */
#header-titles {
    padding: 1rem;
}

/* #endregion HEADER */

/* ================================================== */

/* #region HOME PAGE */
dl p {
    padding: 2rem 2rem 5rem 2rem;
}

@supports selector(:has(a)) {
    dd:has(input:checked) .flip-card .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-back {
        transform: rotateY(180deg);
    }
}

.ribbon {
    padding-right: 3rem;
}

/* #endregion HOME PAGE */

/* ================================================== */

/* #region RECIPE PAGE */
ul#ingredient-list {
    padding-left: 5rem;
}

ul#ingredient-list li {
    width: 100%;
}

/* #endregion RECIPE PAGE */

/* ================================================== */

/* #region ABOUT US PAGE */
#recipie-request button {
    width: 100%;
}

#recipie-request #cancel {
    float: none;
}

#recipie-request #confirm {
    float: none;
    margin-bottom: .1em;
}

/* #endregion ABOUT US */

/* ================================================== */

/* #endregion USER PAGE */
#profile-img {
    width: 9rem;
    height: 9rem;
}

/* #region USER PAGE */

/* ================================================== */

/* #endregion SINGLE MESSAGE PAGE */
.single-msg-page-a {
    width: 100%;
}

/* #region SINGLE MESSAGE PAGE */