:root {
    --title: 3rem;
    --subtitle: 1.2rem;
    --button-text: 1.2rem;
    --section-title: 2.7em;
    --desc-title: 1.2rem;
    --quick-text-hint: 1rem;
    --letter-spacing: .2rem;
    --word-spacing: .6rem;
}

/* #region GENERAL CLASSES */
.button-input {
    width: 100%;
    float: none;
    margin-bottom: .1em;
    margin-left: 0;
}

.content-subtitle {
    font-size: 2.5rem;
}
/* #endregion GENERAL CLASSES */

/* ================================================== */

/* #region HOME PAGE */
.flip-card-front {
    padding: 2rem;
}

dd:has(input:checked) .flip-card .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back {
    transform: rotateY(180deg);
}
/* #endregion HOME PAGE */

/* ================================================== */

/* #region CATALOGUE PAGE */
ul#recipe-list .recipe .catalogue-recipe-img-crop {
    height: 11em;
}
/* #endregion CATALOGUE PAGE */

/* ================================================== */

/* #region RECIPE PAGE */
ul#ingredient-list {
    /* display: block; */
    /* margin: 0 auto; */
    /* width: fit-content; */
    /* padding: 0; */
    padding-left: 4rem;
}

ul#ingredient-list li {
    width: 100%;
    /* margin-top: 2em;
    margin-bottom: 2em; */
}
/* #endregion RECIPE PAGE */

/* ================================================== */

/* #region ABOUT US PAGE */
#recipie-request button {
    width: 100%;
}

#recipie-request #cancel {
    float: none;
}

#recipie-request #confirm {
    float: none;
    margin-bottom: .1em;
}
/* #endregion ABOUT US */

/* ================================================== */

/* #endregion SINGLE MESSAGE PAGE */
.single-msg-page-a {
    width: 100%;
}

/* #region SINGLE MESSAGE PAGE */