*, *::after, *::before {
    padding: 0;
    margin: 0;
    font-family: serif;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --bg-primary: #171717;
    --accent: #EFAE50;
    --accent-secondary: #392A24;
    --accent-trinary: #0C6F59;
    --accent-quaternary: #134270;
    --text-color: black;

    /* MARGINS */
    --main-mt: 2rem;
    --main-mb: 5rem;
    --section-mb: 7rem;

    /* TEXT */
    --title: 4rem;
    --subtitle: 1.5rem;
    --menu-text: 1.1rem;
    --form-label: 1.2rem;
    --button-text: 1.2rem;
    --section-title: 2.5em;
    --desc-title: 1.3rem;
    --quick-text-hint: 1.1rem;
    --letter-spacing: .2rem;
    --word-spacing: .6rem;

    /* BORDERS */
    --radius-max: 100rem;
    --radius-mid: 10rem;
    --radius-small: .5rem;
}
/* ================================================== */

/* #region GENERAL CLASSES */
html body {
    height: 100%;
}

a {
    color: var(--accent);
}

a:visited {
    color: var(--accent-trinary);
}

p {
    color: var(--text-color);
}

.content {
    padding: 0 1rem 0 1rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.content-container {
    text-align: justify;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.content-container-left {
    padding: 2rem 0;
}

.content-subtitle {
    font-size: var(--section-title);
    padding-bottom: .4em;
}

.load-more-btn {
    display: none;
}

.back-up-link {
    display: none;
}

.err-msg {
    display: none;
}

.no-print {
    display: none;
}
/* #endregion GENERAL CLASSES */

/* ================================================== */

/* #region HEADER */

h1#header-title {
    font-weight: 900;
    font-size: var(--title);
}

h2#header-subtitle {
    font-style: italic;
    font-weight: 700;
    font-size: var(--subtitle);
}
/* #endregion HEADER */

/* ================================================== */

/* #region NAV-HELP */
nav#list-help {
    display: none;
}

/* #endregion NAVIGATION HELP */

/* ================================================== */

/* #region MENU */
#hamburger {
    display: none;
}

nav#menu {
    display: none;
}

/* #endregion MENU */

/* ================================================== */

/* #region BREADCRUMB */
nav#breadcrumb {
    margin-top: 1rem;
    color: var(--text-color);
}

nav#breadcrumb p {
    text-align: justify;
    font-size: 1rem;
    font-style: italic;
}
/* #endregion BREADCRUMB */

/* ================================================== */

/* #region MAIN */
main {
    margin-top: var(--main-mt);
    margin-bottom: var(--main-mb);
    color: var(--text-color);
    text-align: justify;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--accent);
}

main h1 {
    word-spacing: var(--word-spacing);
}

main h2,
main h3 {
    word-spacing: calc(var(--word-spacing) * .3);
}

abbr {
    text-decoration: none;
}
/* #endregion MAIN */

/* ================================================== */

/* #region HOME PAGE ROLES MENU */
nav#quick-role {
    display: none;
}
/*#endregion HOME PAGE ROLES MENU */

/* ================================================== */

/* #region HOME PAGE CONTENT */

dl#roles {
    break-inside: avoid;
}

dl#roles dt {
    color: var(--accent-quaternary);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    font-weight: 800;
    font-size: var(--section-title);
}

.flip-card {
    max-width: 800px;
    margin: auto;
}


.flip-card-back h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

.flip-card-back ul {
    margin: auto;
    width: 100%;
}

.flip-card-back li {
    margin: .4rem 1rem;
    font-style: italic;
}

dl#roles dd:not(:last-child) {
    margin-bottom: 4rem;
}

dl p {
    color: var(--bg-primary);
    font-weight: 500;
}

dd input {
    display: none;
}

dd .role-info-label {
    display: none;
}

.role-desc a {
    display: none;
}
/* #endregion HOME PAGE CONTENT*/

/* ================================================== */

/* #region HOME PAGE WHY */

div#why {
    break-inside: avoid;
}

div#why>div {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

div#why #why-desc {
    width: 100%;
    border-radius: var(--radius-small);
    padding: 1rem;
}

div#why #why-desc h2 {
    margin-bottom: 1rem;
}

div#why img {
    width: 80%;
}
/* #endregion HOME PAGE WHY */

/* ================================================== */

/*#region CATALOGUE PAGE */
#search-fields {
    display: none;
}

ul#recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 3rem;
    row-gap: 4rem;
    column-gap: 1rem;
}

ul#recipe-list .recipe {
    break-inside: avoid;
    width: 32%;
    min-width: 21em;
    height: 27em;
    background-color: var(--accent-secondary);
    border-radius: var(--radius-small);
    padding: 0.5em;
    color: white;
    /* to align the link to the right */
    text-align: right;
}

ul#recipe-list .recipe .catalogue-recipe-img-crop {
    width: 100%;
    height: 40%;
    border-radius: calc(var(--radius-small) * .5);
    object-fit: cover;
}

ul#recipe-list .recipe .recipe-title {
    margin-top: 0.3em;
    font-size: 1.6rem;
    height: 19%;
    text-align: left;
}

ul#recipe-list .recipe ul.recipe-info {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

ul#recipe-list .recipe ul.recipe-info li {
    width: 9em;
    padding: 0.4em 0;
    margin: auto;
    text-align: left;
}

ul#recipe-list .recipe ul.recipe-info img {
    height: 2em;
    vertical-align: middle;
    padding-right: 1em;
}

ul#recipe-list .recipe a {
    display: none;
}

#page-changer {
    display: none;
}

/* #endregion CATALOGUE PAGE */

/* ================================================== */

/* #region RECIPE PAGE */
#recipe-name-title {
    text-align: center;
}

#recipe-main-info {
    display: flex;
    justify-content: center;
    height: 25em;
    margin-bottom: 2em;
}

#recipe-img {
    width: 60%;
    height: 100%;
    border-radius: calc(var(--radius-small) * .5);
    object-fit: cover;
}

#recipe-main-info ul {
    list-style-type: none;
    text-align: left;
    margin-left: 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#recipe-main-info ul li img {
    vertical-align: middle;
    margin-right: .8em;
    width: 2rem;
}

#recipe-fav-btn {
    display: none;
}

ul#ingredient-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4rem;
}

ul#ingredient-list li {
    list-style-position: inside;
    width: 50%;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}


ol li.prep-li {
    padding-left: .5rem;
    /* to avoid numbers overflow to the left */
    margin-left: 1.7rem;
}

ol li.prep-li:not(.prep-li:first-of-type) {
    margin-top: 2em;
}

ol li.prep-li::marker {
    font-size: 130%;
}

#add-comment {
    display: none;
}

#comment-subtitle {
    font-size: 1.5em;
}

ul#comment-list {
    list-style-type: none;
}

ul#comment-list li {
    margin-top: 2em;
}

#user-comment, ul#comment-list li {
    border-radius: var(--radius-small);
    padding: 1em;
    border: 2px solid var(--accent);
}

button#del-comment {
    background-color: var(--danger-button-color);
    width: 100%;
    padding: .5em 0;
    margin-top: 1em;
}

.comment-pp {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 1em;
}

.comment-eval {
    margin-top: .7em;
}

.comment-text {
    margin: 1.2em 0 .6em;
}

.comment-date {
    display: block;
    text-align: right;
    color: var(--accent);
}

#more-comment-btn {
    margin-top: 2em;
}

#no-login-p {
    text-align: center;
}
/* #endregion RECIPE PAGE */

/* ================================================== */

/* #region USER PAGE */
#title-nick {
    text-align: center;
    font-size: 2.5em;
}

#profile-img {
    display: block;
    margin: 1.5em auto;
    height: 9em;
    width: 9em;
    object-fit: cover;
    border-radius: 50%;
}

#stud-cat, #login-date {
    text-align: center;
    padding: 0.3em 0;
}

#stud-cat {
    font-size: 1.2em;
}

#login-date {
    display: block;
    color: var(--accent);
    margin-bottom: 4rem;
}

#login-date + h3 + div {
    margin-bottom: 10rem;
}

#fav-recipe-list-container {
    break-inside: avoid;
    border-top: 3px solid var(--accent);
    border-bottom: 3px solid var(--accent);
}

#fav-recipe-list {
    list-style-type: none;
    border-radius: 5px;
    min-height: 12em;
    /* NOTE: not so buty but at least the section for the empty list is centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#empty-fav-recipe-list {
    text-align: center;
}

#fav-recipe-list .fav-recipe {
    background-color: var(--accent-secondary);
    color: white;
    height: 13em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    border-radius: var(--radius-small);
    /* to align the link to the right */
    text-align: right;
}

#fav-recipe-list .fav-recipe .fav-recipe-img-crop {
    height: 100%;
    width: 26%;
    min-width: 14em;
    object-fit: cover;
    float: left;
    border-radius: calc(var(--radius-small) * .5);
}

#fav-recipe-list .fav-recipe .fav-recipe-title {
    display: flex;
    align-items: center;
    text-align: left;
    height: 35%;
    padding: 0 1em;
}

#fav-recipe-list .fav-recipe .fav-recipe-title h4 {
    font-size: 1.6em;
}

#fav-recipe-list .fav-recipe .fav-recipe-info {
    list-style-type: none;
    height: 52%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li {
    width: 8em;
    padding: 0.4em 0;
    text-align: center;
}

#fav-recipe-list .fav-recipe .fav-recipe-info li img {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 0.5em;
}

#fav-recipe-list .fav-recipe a {
    display: none;
}

a#edit-profile-link {
    display: none;
}

a#log-out {
    display: none;
}
/* #endregion USER PAGE */

/* ================================================== */

/* #region ABOUT US PAGE */
.pp {
    width: 10rem;
    height: 10rem;
    border-radius: var(--radius-max);
}
#recipie-request {
    display: none;
}

#admin-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5rem;
}

.admin-cell {
    text-align: center;
}

.admin-cell p {
    overflow-wrap: break-word;
}

.admin-cell a {
    color: var(--text-color);
}

.admin-cell-margin {
    margin-bottom: 1em;
}

.admin-cell strong {
    display: block;
    font-size: var(--desc-title);
    color: var(--accent);
    font-weight: 750;
}

.admin-cell p {
    font-style: italic;
    font-weight: 300;
}
/* #endregion ABOUT US PAGE */

/* ================================================== */

/* #region FOOTER */
footer {
    text-align: center;
    padding: 1em 0 1em 0;
}

footer p {
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
    margin: 1em 0 1em 0;
}
/* #endregion FOOTER */

/* ================================================== */
